<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>
<div id="main" class="container">
    <h1 v-text="welcome"></h1>
    <div class="form form-inline">
        <a class="btn btn-default" v-on:click="connect" v-if="!connected">Connect</a>
        <a class="btn btn-default" v-on:click="disconnect" v-else>Disconnect</a>
    </div>
    <div v-if="connected">
        You have been connected to server!
        <p>People online {{users.length}}!</p>
        <div class="col-sm-2">
            <h4 v-for="user in users"><i class="glyphicon glyphicon-user"></i> {{user.username}}</h4>
        </div>
        <div id="chat-window" class="col-sm-10">
            <div class="well" v-for="message in messages">
                <div class="media">
                    <div class="media-body">
                        <div class="media-heading">
                            <strong> <i class="glyphicon glyphicon-user"></i> {{message.creator.username}}</strong>
                            <i class="glyphicon glyphicon-send"></i> {{message.createDate}}
                        </div>
                        <div><i class="glyphicon glyphicon-envelope"></i> {{message.content}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="chat-form">
            <div class="col-sm-offset-2 col-sm-10 form-inline">
                <label for="message">Message:</label>
                <input id="message" type="text" class="form-control" v-model="message"
                       placeholder="Type your message here!"/>
                <a class="btn btn-default" v-on:click="send">Send</a>
            </div>
        </div>

    </div>
    <div v-else>
        <h3>Please click button to connect</h3>
    </div>
</div>
</body>
<script src="bower_components/sockjs/sockjs.min.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
<script src="main.js"></script>

</html>
