<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="bower_components/sockjs/sockjs.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div id="main" class="container">
    <h1 v-text="welcome"></h1>
    <div class="form form-inline">
        <a class="btn btn-default" v-on:click="connect" v-if="!connected">Connect</a>
        <a class="btn btn-default" v-on:click="disconnect" v-else>Disconnect</a>
    </div>
    <div v-if="connected">
        You have been connected to server!
        <p>People online {{users.length}}!</p>
    </div>
    <div v-else>
        <h3>Please click button to connect</h3>
    </div>
</div>
</body>
</html>

<script>
    const main = new Vue({
        el: '#main',
        data: {
            welcome: "Welcome to simple chat application",
            connected: false,
            client: {},
            users: []
        },
        methods: {
            connect: function () {
                let websocket = new SockJS("/ws");
                this.client = Stomp.over(websocket);
                this.client.connect({}, (frame) => {
                    this.connected = true;
                    this.subscribeToUsers();
                });
            },

            disconnect: function () {
                this.client.disconnect(() => {
                    this.connected = false;
                });

            },

            subscribeToUsers: function () {
                this.client.subscribe("/app/users.all", (response) => {
                    this.users = JSON.parse(response.body);
                });
                this.client.subscribe("/users.new", (response) => {
                    this.users.push(JSON.parse(response.body));
                });
                this.client.send("/app/users.new", {}, "");
            }
        }
    });
</script>